body {background-color: rgb(224, 251, 255);}

.table-container {
    font-size:smaller;
    font-family: sans-serif;
}

.flex-table {
    display: flex;
    max-width: 300px;;
    padding: 0px 5px 0px 5px;            
}

.flex-row {
    padding: 5px;
    margin: 0px 2px 0px 5px; 
}

.head1{
    flex: 1;
    color: blue;
}
.head2{
    flex: 1;
    text-align: right;
}
.head0{
    flex: 5;
    color: blue;
    border-top: 2px solid rgb(95, 161, 248);
    border-right: 2px solid rgb(95, 161, 248);

}
.row1 {
    color: green;
    flex: 1;
    text-align: right;
    border-top: 1px solid rgb(95, 161, 248);
    border-bottom: 0px solid rgb(95, 161, 248);
    background-color: rgb(214, 251, 255);
}
.row2 {
    color: black;
    flex: 4;
    border-left: 2px solid rgb(95, 161, 248);
    border-right: 2px solid rgb(95, 161, 248);
    background-color: rgb(214, 251, 255);
}
.line1 {
    border-top: 2px solid rgb(95, 161, 248);
}
.line9 {
    border-bottom: 2px solid rgb(95, 161, 248);
}
.acc{
    font-weight: bold;  
}

table td {
    width: 180px;
    overflow: hidden;
    display: inline-block;
    white-space: nowrap;
}